<div class="course-card">
    <img [src]="course.img" [alt]="course.title" width="90">
    <h3>{{course.title}}</h3>
    <p>{{course.description}}</p>
    <p>{{course.price | currency:'Rs.'}}</p>
    <p>{{course.date | date:'longDate'}}</p>
    <p [hidden]="!course.soldOut">Sold out</p>
       
    <!--Using code blocks-->
    @if (course.price < 50) {
        <div class="special-offer">Special Offer!</div>
    }

    @if (course.onSale) {
        <div class="sale-baber">On Sale!</div>
    }
    <button (click)="viewDetils(course.title)">View Details</button>

</div>